<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <!-- Allow try/catch to capture native Access Violations from COM calls -->
        <legacyCorruptedStateExceptionsPolicy enabled="true" />
    </runtime>
</configuration>